<!DOCTYPE html>
<!--    

,--.  ,--.                                  ,-----.  ,--.         ,--.  ,--.        ,--.                  
|  '--'  | ,--,--. ,---.  ,---.,--. ,--.    |  |) /_ `--',--.--.,-'  '-.|  ,---.  ,-|  | ,--,--.,--. ,--. 
|  .--.  |' ,-.  || .-. || .-. |\  '  /     |  .-.  \,--.|  .--''-.  .-'|  .-.  |' .-. |' ,-.  | \  '  /  
|  |  |  |\ '-'  || '-' '| '-' ' \   '      |  '--' /|  ||  |     |  |  |  | |  |\ `-' |\ '-'  |  \   '   
`--'  `--' `--`--'|  |-' |  |-'.-'  /       `------' `--'`--'     `--'  `--' `--' `---'  `--`--'.-'  /    
                  `--'   `--'  `---'                                                            `---'     

-->
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/others/favicon.ico" />
    <meta property="og:image" content="https://nina-hbd.herokuapp.com/images/others/fb_thumb.jpg" />
    <meta property="og:description" content="一個愛、勇氣與希望的故事。"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>

<!--      

,------.  
|  .--. ' 
|  '--'.' 
|  |\  \  
`--' '--' 

--> 
<div id="container">
    <%- include partials/nav.html %>
    
    <div id="main-container" style="padding-top: 70px">
        <div class="inner-page-wrapper" id="sky-body">
            <div class="container">
                <div id="timeline-wrapper">
                    <div id="timeline" style="height: 4500px;" class="finished"></div>

                    <div id="timeline-content">
                        <section class="right-start" data-decade="2013" style="position: relative; height:1078px;">
                            <h1 class="item" style="position: absolute; right: 0px; top: 0px; opacity: 1;">2013</h1>
                            <div class="item text left-col" style="position: absolute; right: 580px; top: 0px; opacity: 1;">
                                <p>
                                    雖然我個人滿早就開始了，但是這故事嚴格來說還是要從這裡說起啦，大家應該沒有異議吧。在很久很久以前的某一個特別的日子...
                                </p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 110px; opacity: 1;">
                                <img src="images/2013/2013-1.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="info" style="width: 338px; height:405px;">
                                    <h2>現在開始兩個人的風景，沿途停靠的愛是有妳隨行</h2>
                                    <p>很突然，但是很真實的</p>
                                    <p>從這一天，321，加油欸！</p>
                                    <p>不是，是真幸運的一天</p>
                                </div>
                                <a class="expand" href="#"></a>
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 150px; opacity: 1;">
                                <img src="images/2013/2013-2.jpg" alt="image2" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 560px; opacity: 1;">
                                <img src="images/2013/2013-3.jpg" alt="image1" style="width: 470px; height: 314px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 570px; opacity: 1;">
                                <img src="images/2013/2013-4.jpg" alt="image2" style="width: 453px; height: 539px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 451px; height:537px;">
                                    <h2>如果妳待在那條路，或是在米蘭的小屋，這個世界有個 who，不會有種感觸</h2>
                                    <p>彼此陪伴著，笑著、哭著、難過、生氣著</p>
                                    <p>到了許多城市，走過很多夜市，吃了很多小吃</p>
                                    <p>我胖了不少，妳怎麼反而瘦了許多？</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 900px; opacity: 1;">
                                <img src="images/2013/2013-5.jpg" alt="image1" style="width: 482px; height: 314px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 480px; height: 312px;">
                                    <h2>漫漫長路一直走，哪裡都是我們的家</h2>
                                    <p>記憶裡，這是第一次和我爸媽吃飯</p>
                                    <p>他們很喜歡妳</p>
                                    <p>我________</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <h1 class="item left-col" id="parallax-1" style="position: absolute; left: 0px; top: 500px; opacity: 1;">Happy Birthday</h1>                            
                        </section>

                        <section class="left-start" data-decade="2014" style="position: relative; height:1800px;">
                            <h1 class="item left-col" style="position: absolute; left: 0px; top: 0px; opacity: 1;">2014</h1>
                            <div class="item text" style="position: absolute; left: 580px; top: 100px; opacity: 1;">
                                <p>故事說到這裡，已經是我說過最長的了。<br>（我）在心裡面也開始更認真定義了彼此</p>
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 150px; opacity: 1;">
                                <img src="images/2014/2014-1.jpg" alt="image2" style="width: 502px; height: 355px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 500px; height: 353px;">
                                    <h2>我要吃飯我要吃飯，我要吃很多的飯</h2>
                                    <p>有個生命來到了我們家</p>
                                    <p>妳也把她當作自己家的一份子</p>
                                    <p>在哪都會想到她</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 270px; opacity: 1;">
                                <img src="images/2014/2014-2.jpg" alt="image1" style="width: 240px; height: 300px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 540px; opacity: 1;">
                                <img src="images/2014/2014-3.jpg" alt="image2" style="width: 279px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 600px; opacity: 1;">
                                <img src="images/2014/2014-4.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 338px; height: 405px;">
                                    <h2>前面是哪方，誰伴我闖蕩</h2>
                                    <p>大四，我們試著讓生活更加豐富</p>
                                    <p>也更加清楚自己想要的是什麼</p>
                                    <p>各自努力著，卻也不忘陪伴</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 970px; opacity: 1;">
                                <img src="images/2014/2014-5.jpg" alt="image2" style="width: 250px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 248px; height: 405px;">
                                    <h2>在洛杉磯的你，是否睡的甜美</h2>
                                    <p>一起出了個遠門</p>
                                    <p>一次特別的經歷、旅行</p>
                                    <p>更是一趟學習</p>
                                    <p>謝謝妳</p>      
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 1030px; opacity: 1;">
                                <img src="images/2014/2014-6.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 1405px; opacity: 1;">
                                <img src="images/2014/2014-7.jpg" alt="image2" style="width: 453px; height: 539px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 1450px; opacity: 1;">
                                <img src="images/2014/2014-8.jpg" alt="image1" style="width: 470px; height: 314px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 1405px; opacity: 1;">
                                <img src="images/2014/2014-7.jpg" alt="image2" style="width: 453px; height: 539px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div id="parallax-2" class="scroll" style="position: absolute; right: 2px; top: 1400px; opacity: 1; z-index: 999;">
                                <img src="images/scroll/scroll-1.jpg" alt="image2" style="width: 249px; height: 309px;">
                            </div>
                            <div id="parallax-3" class="scroll" style="position: absolute; right: 930px; top: 1500px; opacity: 1; z-index: 999;">
                                <img src="images/scroll/scroll-2.jpg" alt="image2" style="width: 249px; height: 309px;">
                            </div>
                        </section>
                        <section class="right-start" data-decade="2015" style="position: relative; height:1078px;">
                            <h1 class="item" style="position: absolute; right: 0px; top: 0px; opacity: 1;">2015</h1>
                            <div class="item text left-col" style="position: absolute; right: 580px; top: 100px; opacity: 1;">
                                <p>2015，我們的故事繼續寫著，過程中有爭吵，但是我們仍會有默契地，在睡前某個時刻放下自己試著化解。</p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 100px; opacity: 1;">
                                <img src="images/2015/2015-1.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 270px; opacity: 1;">
                                <img src="images/2015/2015-2.jpg" alt="image2" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 520px; opacity: 1;">
                                <img src="images/2015/2015-3.jpg" alt="image1" style="width: 360px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 358px; height: 405px;">
                                    <h2>燒肉粽，燒肉粽，賣燒肉粽</h2>
                                    <p>既然點開了，就不要再讓我的臉現形了</p>
                                </div>
                                <a class="expand" href="#"></a>

                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 700px; opacity: 1;">
                                <img src="images/2015/2015-4.jpg" alt="image2" style="width: 502px; height: 355px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 950px; opacity: 1;">
                                <img src="images/2015/2015-5.jpg" alt="image1" style="width: 502; height: 355px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item text left-col red" style="position: absolute; right: 580px; top: 1100px; opacity: 1;">
                                <p>
                                    研究所，不像大四時，天天都能膩在一起。新竹、台北的距離，說遠不遠，但其實滿遠的。我們朝著不同方向努力，距離改變的，但我們仍然互相都陪伴著。<br>
                                    謝謝妳，以後繼續多多指教吧。 ^ ____ ^
                                </p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div id="parallax-5" style="position: absolute; right: -100px; top: 1000px; z-index: 999;">
                                <img class="scroll" src="images/others/kikibaby.jpg" alt="kiki" style="width: 300px;">                         
                            </div>


                        </section>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="parallax-4" style="position: relative; bottom: -1000px; left: 0px;">
            <img src="images/others/minions.gif" alt="minions">
        </div>
    </div>
    <%- include partials/footer.html %>
</div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script> -->
    <script src="/javascripts/parallax.js"></script>
    <script src="/javascripts/scripts.js"></script>
</body>
</html>
