<!DOCTYPE html>
<!--    

,--.  ,--.                                  ,-----.  ,--.         ,--.  ,--.        ,--.                  
|  '--'  | ,--,--. ,---.  ,---.,--. ,--.    |  |) /_ `--',--.--.,-'  '-.|  ,---.  ,-|  | ,--,--.,--. ,--. 
|  .--.  |' ,-.  || .-. || .-. |\  '  /     |  .-.  \,--.|  .--''-.  .-'|  .-.  |' .-. |' ,-.  | \  '  /  
|  |  |  |\ '-'  || '-' '| '-' ' \   '      |  '--' /|  ||  |     |  |  |  | |  |\ `-' |\ '-'  |  \   '   
`--'  `--' `--`--'|  |-' |  |-'.-'  /       `------' `--'`--'     `--'  `--' `--' `---'  `--`--'.-'  /    
                  `--'   `--'  `---'                                                            `---'     

-->
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>

<!--      

,------.  
|  .--. ' 
|  '--'.' 
|  |\  \  
`--' '--' 

--> 
<div id="container">
    <%- include partials/nav.html %>
    
    <div id="main-container" style="padding-top: 70px">
        <div class="inner-page-wrapper" id="sky-body">
            <div class="container">
                <div id="timeline-wrapper">
                    <div id="timeline" style="height: 4500px;" class="finished"></div>

                    <div id="timeline-content">
                        <section class="right-start" data-decade="2013" style="position: relative; height:1078px;">
                            <h1 class="item" style="position: absolute; right: 0px; top: 0px; opacity: 1;">2013</h1>
                            <div class="item text left-col" style="position: absolute; right: 580px; top: 0px; opacity: 1;">
                                <p>Polish-born cigar maker Charles Goldstein commissioned the construction of Webster Hall in 1886, enlisting the design services of architect Charles Rentz.</p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 110px; opacity: 1;">
                                <img src="images/2013/2013-1.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="info" style="width: 338px; height:405px;">
                                    <h2>Webster Hall Sketch</h2>
                                    <p>An early sketch of Webster Hall which shows the original, complex mansard roof.</p>
                                </div>
                                <a class="expand" href="#"></a>
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 150px; opacity: 1;">
                                <img src="images/2013/2013-2.jpg" alt="image2" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 560px; opacity: 1;">
                                <img src="images/2013/2013-3.jpg" alt="image1" style="width: 470px; height: 314px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 570px; opacity: 1;">
                                <img src="images/2013/2013-4.jpg" alt="image2" style="width: 453px; height: 539px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 451px; height:537px;">
                                    <h2>Webster Hall Sketch</h2>
                                    <p>An early sketch of Webster Hall which shows the original, complex mansard roof.</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 900px; opacity: 1;">
                                <img src="images/2013/2013-5.jpg" alt="image1" style="width: 482px; height: 314px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 480px; height: 312px;">
                                    <h2>Webster Hall Sketch</h2>
                                    <p>An early sketch of Webster Hall which shows the original, complex mansard roof.</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <h1 class="item left-col" id="parallax-1" style="position: absolute; left: 0px; top: 500px; opacity: 1;">Happy Birthday</h1>                            
                        </section>

                        <section class="left-start" data-decade="2014" style="position: relative; height:1800px;">
                            <h1 class="item left-col" style="position: absolute; left: 0px; top: 0px; opacity: 1;">2014</h1>
                            <div class="item text" style="position: absolute; left: 580px; top: 100px; opacity: 1;">
                                <p>Polish-born cigar maker Charles Goldstein commissioned the construction of Webster Hall in 1886, enlisting the design services of architect Charles Rentz.</p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 150px; opacity: 1;">
                                <img src="images/2014/2014-1.jpg" alt="image2" style="width: 502px; height: 355px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 500px; height: 353px;">
                                    <h2>Webster Hall Sketch</h2>
                                    <p>An early sketch of Webster Hall which shows the original, complex mansard roof.</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 270px; opacity: 1;">
                                <img src="images/2014/2014-2.jpg" alt="image1" style="width: 240px; height: 300px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 540px; opacity: 1;">
                                <img src="images/2014/2014-3.jpg" alt="image2" style="width: 279px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 600px; opacity: 1;">
                                <img src="images/2014/2014-4.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 338px; height: 405px;">
                                    <h2>Webster Hall Sketch</h2>
                                    <p>An early sketch of Webster Hall which shows the original, complex mansard roof.</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 970px; opacity: 1;">
                                <img src="images/2014/2014-5.jpg" alt="image2" style="width: 250px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                                <div class="info" style="width: 248px; height: 405px;">
                                    <h2>Webster Hall Sketch</h2>
                                    <p>An early sketch of Webster Hall which shows the original, complex mansard roof.</p>
                                </div>
                                <a class="expand" href="#"></a>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 1030px; opacity: 1;">
                                <img src="images/2014/2014-6.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 1405px; opacity: 1;">
                                <img src="images/2014/2014-7.jpg" alt="image2" style="width: 453px; height: 539px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 1450px; opacity: 1;">
                                <img src="images/2014/2014-8.jpg" alt="image1" style="width: 470px; height: 314px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 1405px; opacity: 1;">
                                <img src="images/2014/2014-7.jpg" alt="image2" style="width: 453px; height: 539px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div id="parallax-2" style="position: absolute; right: 2px; top: 1400px; opacity: 1; z-index: 999;">
                                <img src="images/scroll/scroll-1.jpg" alt="image2" style="width: 249px; height: 309px;">
                            </div>
                            <div id="parallax-3" style="position: absolute; right: 980px; top: 1500px; opacity: 1; z-index: 999;">
                                <img src="images/scroll/scroll-2.jpg" alt="image2" style="width: 249px; height: 309px;">
                            </div>
                        </section>
                        <section class="right-start" data-decade="2015" style="position: relative; height:1078px;">
                            <h1 class="item" style="position: absolute; right: 0px; top: 0px; opacity: 1;">2015</h1>
                            <div class="item text left-col" style="position: absolute; right: 580px; top: 100px; opacity: 1;">
                                <p>Polish-born cigar maker Charles Goldstein commissioned the construction of Webster Hall in 1886, enlisting the design services of architect Charles Rentz.</p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 100px; opacity: 1;">
                                <img src="images/2015/2015-1.jpg" alt="image1" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 270px; opacity: 1;">
                                <img src="images/2015/2015-2.jpg" alt="image2" style="width: 340px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 520px; opacity: 1;">
                                <img src="images/2015/2015-3.jpg" alt="image1" style="width: 360px; height: 407px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image left-col" style="position: absolute; right: 580px; top: 700px; opacity: 1;">
                                <img src="images/2015/2015-4.jpg" alt="image2" style="width: 502px; height: 355px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item image" style="position: absolute; right: 20px; top: 950px; opacity: 1;">
                                <img src="images/2015/2015-5.jpg" alt="image1" style="width: 502; height: 355px;">
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="item text left-col red" style="position: absolute; right: 580px; top: 1100px; opacity: 1;">
                                <p>Polish-born cigar maker Charles Goldstein commissioned the construction of Webster Hall in 1886, enlisting the design services of architect Charles Rentz.</p> 
                                <div class="connector">
                                    <div class="circle"></div>
                                </div>
                            </div>

                        </section>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script> -->
    <script src="/javascripts/parallax.js"></script>
    <script src="/javascripts/scripts.js"></script>
</body>
</html>
