body {
    background-color: black;
}

h1 {
    color: #ffffff;
}


#container {
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    margin: 50px 0;
}

.inner-page-wrap {
    position: relative;
}

.container {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    padding: 0;
}

#timeline-wrapper {
    position: relative;
}

#timeline {
    background-color: #36e0d5;
    transition: background-color 3000ms;

    left: 50%;
    width:1px;
    position: absolute;
    z-index: 1;
    min-height: 200px;
    top: 0;
}

#timeline-content h1 {
    font-size: 70px;
    text-shadow: 2px 5px 2px rgba(0,0,0,0.42);
    line-height: 80px;
    font-weight: 600;
}

#timeline-content .item {
    width: calc(50% - 40px);
}

#timeline-content .item.left-col {
    text-align: right;
}

#timeline-wrapper .item > p {
    background-color: #36e0d5;
    padding: 20px;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.2em;
}

#timeline-content .item .connector {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
}

#timeline-content .item .connector .circle {
    background-color: #36e0d5;
    content: ' ';
    width: 9px;
    height: 9px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
}

#timeline-content .item.left-col .connector {
    left: auto;
    right: -20px;
    background-color: #36e0d5;
}

#timeline-content .item.left-col .connector .circle {
    left: auto;
    right: -5px;
}